* {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    background: #eae0d5;
    font-family: 'Lora', serif;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Header */

header {
    background: #5e503f;
    height: 66px;
}

header * {
    color: #eae0d5;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 9px;
    font-family: 'Candal';
}

header .logo-text a {
    text-decoration: none;
}    

header .logo-text span {
    color: #C6AC8F;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

/* Home - Main Body */

body .main {
    background: #eae0d5;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

body .main a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    flex-wrap: wrap;
    background: #eae0d5;
    border-radius: 20px;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

body .main img {
    height: clamp(100px, 25vw, 500px);
    border-radius: 250px;
}

body .main a .main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    width: clamp(400px, 50vw, 1000px);
    padding: 20px;
}

body .main a .main-header h2 {
    color: #5e503f;
    font-size: clamp(2em, 5vw, 5em);
    text-decoration: none;
    padding-left: 20px;
    text-align: left;
}

body .main a .main-header ul {
    color: #5e503f;
    font-size: clamp(0.8em, 2vw, 1.7em);
    padding-left: 20px;
    text-align: left;
    list-style-type: none;
}

body .main a .main-header p {
    color: #5e503f;
    font-size: clamp(0.5em, 1.2vw, 1.3em);
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
}

body .card-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: fit-content;
    gap: 5px;
    flex-wrap: wrap;
    padding: 10px;
    overflow: hidden;
    background-color: #eae0d5;
    border-top: 2px solid #C6AC8F;
}

body .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: 32%;
    text-align: center;
    padding: 0px;
}

body .card a {
    display: block;
    padding: 15px;
    padding-bottom: 40px;
    font-size: clamp(1.5em, 3vw, 2.5em);
    text-decoration: none;
    color: #5e503f;
}

body .card a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

body .card img {
    width: 30vw;
    border-radius: inherit;
}

body .card p {
    text-align: left;
    padding: 3%;
    font-size: clamp(0.8em, 1.5vw, 1.3em);
    color: #5e503f;
    font-family: 'Lora', 'serif';
}

body .line {
    position: relative;
    top: calc(3vw + 110px);
    height: calc(30vw * 3 / 4 - 60px);
    width: 2px;
    background-color: #C6AC8F;
}

footer {
    display: flex;
    justify-content: center;
    height: 66px;
    background-color: #5e503f;
}

footer .social-media {
    display: flex;
    gap: 20px;
    font-size: 1.3em;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

footer .social-media li {
    color: #eae0d5;
    list-style-type: none;
    padding: 20px 10px;
}

footer .social-media li a {
    text-decoration: none;
    color: #eae0d5;
}

footer .social-media li:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

/* About Me */

body .about {
    background: #eae0d5;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
    background: #eae0d5;
    border-radius: 20px;
    height: calc(100vh - 132px);
    text-decoration: none;
    align-items: center;
    gap: 100px;
    overflow: hidden;
}

body .about img {
    height: 27vw;
    border-radius: calc(27vw * 0.5);
}

body .about .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 40vw;
}

body .about .about-text h2 {
    font-size: clamp(2em, 2vw, 4em);
    color: #5e503f;
}

body .about .about-text p {
    font-size: clamp(1em, 0.87vw, 1.3em);
    color: #5e503f;
}

/* Career */

body .aspirations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 70px;
    gap: 20px;
    background-color: #eae0d5;
    border: 0;
    border-bottom: 2px solid #C6AC8F;
}

body .aspirations a {
    display: flex;
    text-decoration: none;
    color: #5e503f;
    font-size: 4em;
}

body .aspirations p {
    display: flex;
    font-size: 1.3em;
    color: #5e503f;
}

body .aspirations a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

body .career {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    min-height: 450px;
    height: 32vw;
    max-height: 570px;
    gap: 20px;
}

body .career .career-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    align-items: center;
    background-color: #eae0d5;
    max-height: inherit;
    min-height: inherit;
    height: inherit;
    width: 32vw;
    gap: 20px;
}

body .career .career-card .tab-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5e503f;
    width: 15vw;
    min-width: 180px;
    min-height: 50px;
    height: 50px;
    border-radius: 25px;
}

body .career .career-card .tab-header h2 {
    color: #eae0d5;
}

body .career .career-card .tab-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 20px;
    gap: 10px;
    height: 350px;
}

body .career .career-card .tab-container .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid #C6AC8F;
    background-color: #eae0d5;
    border-radius: 20px;
    width: calc(100vw / 10);
    height: 90px;
    overflow: hidden;
    word-wrap: break-word;
    padding: 5px;
    font-size: clamp(0.5em, 0.87vw, 1em);
}

body .career .career-card .tab-container .tabs h3 {
    color: #5e503f;
}

body .career .career-card .education {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: inherit;
    height: 400px;
    padding: 10px;
    gap: 10px;
}

body .career .career-card .education a {
    position: relative;
    justify-self: center;
    width: 29vw;
    max-width: 600px;
    text-decoration: none;
}

body .career .career-card .education a img {
    position: relative;
    justify-self: center;
    width: inherit;
    max-width: inherit;
    border-radius: 20px;
}

body .career .career-card .education h2 {
    position: relative;
    color: #5e503f;
    font-size: clamp(1em, 0.87vw, 4em);
    text-align: center;
    padding-top: 20px;
}

body .career .career-card .education p {
    color: #5e503f;
    font-size: clamp(0.5em, 0.87vw, 1em);
    text-align: center;
}

body .career .career-card .experience {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 400px;
    width: inherit;
    gap: 10px;
    padding: 10px;
}

body .career .career-card .experience a {
    position: relative;
    justify-self: center;
    width: 29vw;
    max-width: 600px;
}

body .career .career-card .experience a img {
    position: relative;
    justify-self: center;
    width: inherit;
    max-width: inherit;
    border-radius: 20px;
}

body .career .career-card .experience h2 {
    color: #5e503f;
    padding-top: 20px;
    font-size: clamp(1em, 0.87vw, 4em);
}

body .career .career-card .experience p {
    color: #5e503f;
    font-size: clamp(0.5em, 0.87vw, 1em);
}

body .projects {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    background-color: #eae0d5;
    height: fit-content;
}

body .projects-title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-family: 'Lora', serif;
    color: #5e503f;
    border: 0;
    border-bottom: 2px solid #C6AC8F;
    border-top: 2px solid #C6AC8F;
    padding: 10px;
    background-color: #eae0d5;
}

body .projects .project-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: start;
    background-color: #eae0d5;
    max-height: inherit;
    min-height: inherit;
    height: inherit;
    width: calc(100vw / 3);
    gap: 20px;
}

body .projects .project-card h2 a {
    text-decoration: none;
    color: #5e503f;
    font-size: clamp(0.7em, 1.5vw, 1.2em);
}

body .projects .project-card h2:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

body .projects .project-card img {
    width: 23vw;
    border-radius: 20px;
}

body .projects .project-card p {
    color: #5e503f;
    font-size: clamp(0.5em, 0.87vw, 1em);
}

/* Travel */

body .travel-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-bottom: 2px solid #C6AC8F;
}

body .travel-header p:nth-of-type(1) {
    color: #5e503f;
    font-size: 4em;
}

body .travel-header p:nth-of-type(2) {
    color: #5e503f;
    font-size: 1em;
}

body .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #C6AC8F;
    background-image: url(images/Huacachina-Desert2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    border-bottom: 2px solid #C6AC8F;
}

body .journal-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: start;
    background-color: #eae0d5;
}

body .journal-container .travel-journal {
    display: flex;
    flex-direction: column;
    width: 32vw;
    height: inherit;
    justify-content: start;
    align-items: center;
}

body .journal-container .travel-journal a {
    text-decoration: none;
    color: #5e503f;
    font-size: clamp(1.5em, 2.5vw, 2.5em);
    padding-top: 20px;
}

body .journal-container .travel-journal a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

body .journal-container .travel-journal img {
    width: inherit;
    padding: 30px 60px;
    border-radius: 15px;
}

body .journal-container .travel-journal p {
    color: #5e503f;
    font-size: 1.3em;
    padding-bottom: 30px;
}

/* Blog */

body .coming-soon {
    display: flex;
    justify-content: center;
    height: calc(100vh - 132px);
    align-items: center;
}

body .coming-soon p {
    color:#5e503f;
    font-size: 4em;
}

/* Travel Journals */

body .days {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100vh - 132px);
    width: 100vw;
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

body .days .day {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: fit-content;
    justify-content: start;
    align-items: center;
    gap: 40px;
    border-top: 2px solid #5e503f;
    padding-top: 50px;
}

body .days .day section {
    display: inherit;
    flex-direction: inherit;
    width: inherit;
    height: inherit;
    justify-content: inherit;
    align-items: inherit;
    gap: inherit;
}

body .days .day section h3 {
    color: #5e503f;
    font-size: 2em;
}

body .days .day section figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
}

body .days .day section figure img {
    max-width: inherit;
    max-height: 70vh;
    padding: 10px;
}

body .days .day section figure figcaption {
    font-style: italic;
    font-size: 1em;
    color: #5e503f;
    padding: 10px;
    text-align: center;
}

body .days .day section p {
    color: #5e503f;
    font-size: clamp(0.8em, 2.5vw, 1.2em);
}

body .journal-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #5e503f;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

body .journal-title p {
    text-decoration: underline;
    overflow: hidden;
}

body .contents {
    position: fixed;
    top: 150px;
    left: 3vw;
    width: 16vw;
    height: fit-content;
    max-height: calc(100vh - 150px - 66px - 50px);
    padding: 15px;
    border: 1px solid #C6AC8F;
    border-radius: 8px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body .contents::-webkit-scrollbar {
    display: none;
}

body .contents p {
    color: #5e503f;
    font-size: 1.3em;
}

body .contents ul {
    list-style-type: none;
}

body .contents ul li {
    padding: 5px;
}

body .contents ul li a {
    text-decoration: none;
    color: #5e503f;
}

body .contents ul li:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

body .days .day section ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

body .days .day section ul li {
    color: #5e503f;
    font-size: 1em;
    font-style: italic;
    padding: 5px;
    text-align: center;
}

body .days .day section p .redacted {
    display: none;
}

/* Project Pages */
body .project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

body .project-header h3 {
    font-size: 2.5em;
    color: #5e503f;
}

body .project-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .project-body .project-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

body .project-body .project-text section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    width: 100vw;
}

body .project-body .project-text section h3 {
    font-size: 2em;
    color:#5e503f;
    padding-bottom: 20px;
}

body .project-body .project-text section p {
    font-size: 1.4em;
    color: #5e503f;
    padding-left: 80px;
    padding-right: 80px;
}

body .project-body .project-text section ul li {
    font-size: 1.4em;
    color:#5e503f;
    
}

#Abstract figure {
    display: flex;
    width: max-content;
    padding-top: 20px;
}

#Contributions figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .project-header figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .project-header figure figcaption {
    font-size: 1em;
    color:#5e503f;
    font-style: italic;
}

body .project-body .project-text section figure figcaption {
    font-size: 1em;
    color:#5e503f;
    font-style: italic;
}

@keyframes scrollImages {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%)
    }
}

body .project-body a {
    text-decoration: none;
}

body .project-body a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

body .project-body a b {
    font-size: 2em;
    color:#5e503f;
    text-decoration: none;
}

/* Blog */
body .blog-header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

body .blog-header p {
    font-size: 4em;
    color:#5e503f;
    font-style: none;
}

body .blog-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    align-items: center;
    padding: 30px;
    border-top: solid 2px #C6AC8F;
    height: calc(100vh - 274px);
    overflow: auto;
}

body .blog-body ul {
    display: flex;
    flex-direction: column;
    color:#5e503f;
    padding-top: 30px;
    gap: 20px;
    height: calc(100vh - 274px);
}

body .blog-body ul li {
    font-size: 2em;
    list-style-type: none;
}

body .blog-body ul li a {
    text-decoration: none;
    color: #5e503f;

}

body .blog-body ul li:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

body .blog-body ul li a span {
    font-size: 20px;
    color:#C6AC8F;
    font-style: normal;
    padding-right: 30px;
}

#blog-subtitle {
    padding-top: 20px;
}

#blog-subtitle p{
    font-size: 1.5em;
    color:#C6AC8F;
}

body .blog-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    align-items: center;
    padding: 30px;
    border-top: solid 2px #C6AC8F;
    height: max-content;
    overflow: auto;
}

body .blog-page section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    gap: 20px;
}

body .blog-page section p {
    text-align: justify;
    font-size: 1em;
    color: #5e503f;
}

body .blog-page section figure {
    display: flex;
    flex-direction: column;
    width: 30vh;
}

body .blog-page section figure figcaption {
    font-style: italic;
    color:#C6AC8F;
    font-size:1em;
}